<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your Node.js application, please visit
  http://go.microsoft.com/fwlink/?LinkId=290972
  -->
<configuration>
	<appSettings>

	</appSettings>
	<system.web>
		<customErrors mode="On" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="/account/error" />
		</customErrors>
	</system.web>
	<system.webServer>
		<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip" />
			<staticTypes>
				<add enabled="true" mimeType="text/*" />
				<add enabled="true" mimeType="message/*" />
				<add enabled="true" mimeType="application/javascript" />
				<add enabled="true" mimeType="application/json" />
				<add enabled="false" mimeType="*/*" />
			</staticTypes>
		</httpCompression>
		<httpErrors errorMode="Custom" existingResponse="PassThrough">
			<!-- Catch IIS 404 error due to paths that exist but shouldn't be served (e.g. /controllers, /global.asax) or IIS request filtering (e.g. bin, web.config, app_code, app_globalresources, app_localresources, app_webreferences, app_data, app_browsers) -->
			<remove statusCode="404" subStatusCode="-1" />
			<error path="/notfound" responseMode="ExecuteURL" statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error path="/error" responseMode="ExecuteURL" statusCode="500" subStatusCode="-1" />
		</httpErrors>
		<directoryBrowse enabled="false" />
		<validation validateIntegratedModeConfiguration="false" />
		<!-- Microsoft sets runAllManagedModulesForAllRequests to true by default
             You should handle this according to need, but consider the performance hit.
             Good source of reference on this matter: http://www.west-wind.com/weblog/posts/2012/Oct/25/Caveats-with-the-runAllManagedModulesForAllRequests-in-IIS-78
        -->
		<modules runAllManagedModulesForAllRequests="false" />
		<urlCompression doDynamicCompression="true" doStaticCompression="true" />
		<rewrite>
			<rules>
				<!--The rule cannot be converted into an equivalent IIS format because of unsupported flags: E-->
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="^" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="(.+)/$" ignoreCase="false" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="{C:1}" />
				</rule>
				<rule name="Imported Rule 3" stopProcessing="true">
					<match url="^" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension="vsix" mimeType="application/vsix" />
		</staticContent>

	</system.webServer>
</configuration>
